.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14x;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.course-col{
    flex-basis: 31%;
    background-color: #d7eec7;
    border-radius: 20px;
    padding: 20px 12px;
    margin-bottom: 5%;
    box-sizing: border-box;
    transition: box-shadow 0.2s;

}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0px;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}