.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img{
    width: 100%;
    border-radius: 10px
}

.facilities-col p{
    padding: 0;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}



/* call to action*/

.cta{
    margin: 100px auto;
    width: 100%;
    background-image: linear-gradient(rgba(109, 108, 108, 0.5),
    rgba(95, 94, 94, 0.5)), 
    url(images/The-Minaret.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 200px 0;
}

.cta h1{
    color: white;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width:700px){
    .cta h1{
        font-size: 24px;
    }
}

/* Footer*/

.footer{
    width: 100%;
    text-align: center;
    padding: 200px 0;
}


.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa{
    color: #678b4f;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart-o{
    color: rgb(187, 55, 55);
}